# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "b6b67ebbed2fb696bf3215da9c607fab"
name = "Leadform"
application_url = "https://leadform-sand.vercel.app"
embedded = true

[build]
automatically_update_urls_on_dev = false

[webhooks]
api_version = "2025-10"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
scopes = "read_products,write_products,read_metaobjects,write_metaobjects"

[auth]
redirect_urls = ["https://leadform-sand.vercel.app/auth/callback"]

[app_proxy]
url = "https://leadform-sand.vercel.app/apps/leadform"
prefix = "apps"
subpath = "leadform"